:root {
	--text-primary: 247, 247, 247;
	--text-secondary: 24, 24, 24;
	--highlight-primary: 46, 74, 136;

	--link-primary: 247, 247, 247;

	--fw-700: 700;
	--fw-400: 400;
	--fw-300: 300;

	--container-w: 1600px;
}
